* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen Mono", monospace;
}

/* Mobile first */
body {
  max-width: 768px;
  height: auto;
}

.welcome-video-sign-up {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative; 
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
}

.content-welcome {
  z-index: 1;
  color: rgba(255, 255, 255, 0.188); 
  outline: 10px green;
  text-align: center;
  margin-top: 1rem;
}

.content-welcome h1 {
    font-weight: 800;
    font-size: 2.5rem;
    -webkit-text-stroke: 1px white;
    animation: showUp 4000ms ease-in-out forwards;
}
.content-welcome button {
    margin-top: 5rem;
    padding: 1rem 1.3rem;;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.127);
    color: white;
    font-weight: 600;
}

.content-welcome button:hover {
    border: 1px solid rgb(114, 246, 242);
    color: rgb(114, 246, 242);
}

.welcome-video-sign-up video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; 
  filter: blur(1px);
}




@keyframes showUp {
    0% {
      opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
  }

